body{
  margin: 0px auto;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 200px;
  font-family: 'Acme', sans-serif;
  cursor: pointer;
}

button{
  margin-left: 5px;
}


